body {
  margin: 0px;
  background-color: black;
}

.Appbar {
  display: flex;
  flex-direction: row;
  padding: 25px 60px;
  align-items: center;
  background-color: rgb(0, 0, 0);
  justify-content: center;
}

.Appbar .item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: clamp(14px, 1.5vw, 24px);
  padding: 5px 40px;
  font-weight: 300;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.copyright{
  display: flex;
  justify-content: center;
  color: white;
}

.content{
  padding: 25px 60px;
  background-color: white;
}

.content-title{
  font-size: clamp(18px,2vw,32px);
  font-weight: 500;
}

.content-detail{
  font-size: clamp(14px,2vw,22px);
  font-weight: 300;
}

.sizedBox60{
  margin: 60px 0px;
}

.sizedBox40{
  margin: 40px 0px
}

.SeasonMission{
  padding: 25px 60px;
  background-color: black;
  color: white;
}

.SeasonMission .videoBox{
  display: flex;
  justify-content: center;
}

.SeasonMission .video{
  margin-top: 30px;
  width: 90%;
  height: 80vh;
  border-color: black;
  border: none;

}